<% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-center background-banner">
    <h1 class="align-self-center backbanner-text">Edit show</h1>
</div>
<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row form-block">
        <div class="col">
            <form action="/shows/<%= show._id %>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-1">
                    <label for="venue" class="form-label">Venue</label>
                    <input type="text" class="form-control" id="venue" name="show[venue]" value="<%= show.venue %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-1">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="show[location]"
                        value="<%= show.location %> " required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-1">
                    <label for="date" class="form-label">Date</label>
                    <input type="text" class="form-control" id="date" name="show[date]"
                        value="<%= show.date.toString().slice(4, 15) %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="ticketstore" class="form-label">Ticketstore</label>
                    <input type="text" class="form-control" id="ticketstore" name="show[ticketstore]"
                        value="<%= show.ticketstore %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="d-grid gap-2 my-3">
                    <button class="btn btn-primary mb-1">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>