<% layout("layouts/boilerplate") %>
<div class="container">
    <h1>Add new Show</h1>
    <form action="/shows/<%= show._id %>?_method=PUT" method="POST" novalidate class="validated-form">
        <div class="col-sm-6">
            <div class="mb-1">
                <label for="venue" class="form-label">Venue</label>
                <input type="text" class="form-control" id="venue" name="show[venue]" value="<%= show.venue %>"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-1">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="show[location]"
                    value="<%= show.location %> " required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-1">
                <label for="date" class="form-label">Date</label>
                <input type="text" class="form-control" id="date" name="show[date]"
                    value="<%= show.date.toString().slice(4, 15) %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="ticketstore" class="form-label">Ticketstore</label>
                <input type="text" class="form-control" id="ticketstore" name="show[ticketstore]"
                    value="<%= show.ticketstore %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>