<div class="background">
    <% layout("layouts/boilerplate") %>
    <%- include("../partials/navbar") %>
    <%- include("../partials/flash") %>
    <div class="d-flex justify-content-center background-banner">
        <h1 class="align-self-center backbanner-text">UPCOMING SHOWS</h1>
    </div>
    <div class="text-center">
        <% if(isLoggedIn) { %>
        <div class="d-flex justify-content-center m-4">
            <a href="shows/new">
                <button class="btn btn-primary btn-lg mt-2">Add New Show</button>
            </a>
        </div>
        <% } %>
        <div class="row mb-5">
            <table class="table">
                <tbody>
                    <% for (let show of shows) { %>
                    <% if(!isLoggedIn) { %>
                    <tr class="d-flex flex-column flex-md-row text-light fs-5 gig-entry">
                        <td class="col-md-2 align-self-center border-bottom-0">
                            <div class="d-flex justify-content-start date-locat-position">
                                <%= show.date.toLocaleDateString('de-DE', dateAppearance) %>
                            </div>
                        </td>
                        <td class="col-md-6 align-self-center border-bottom-0">
                            <div class="d-flex justify-content-start venue-position">
                                <b>
                                    <%= show.venue %>
                                </b>
                            </div>
                        </td>
                        <td class="col-md-2 align-self-center border-bottom-0">
                            <div class="d-flex justify-content-start date-locat-position">
                                <%= show.location %>
                            </div>
                        </td>
                        <td class="col-md-2 align-self-center border-bottom-0">
                            <a href="<%= show.ticketstore %>">
                                <button class="btn btn-lg custom-button">Tickets</button>
                            </a>
                        </td>
                        <% } %>
                    </tr>
                    <% if(isLoggedIn) { %>
                    <tr class="d-flex flex-column flex-md-row text-light fs-5 gig-entry">
                        <td class="col-md-2 align-self-center border-bottom-0">
                            <div class="d-flex justify-content-start date-locat-position">
                                <%= show.date.toLocaleDateString('de-DE', dateAppearance) %>
                            </div>
                        </td>
                        <td class="col-md-4 align-self-center border-bottom-0">
                            <div class="d-flex justify-content-start venue-position">
                                <b>
                                    <%= show.venue %>
                                </b>
                            </div>
                        </td>
                        <td class="col-md-2 align-self-center border-bottom-0">
                            <div class="d-flex justify-content-start date-locat-position">
                                <%= show.location %>
                            </div>
                        </td>
                        <td class="col-md-2 align-self-center border-bottom-0">
                            <a href="<%= show.ticketstore %>">
                                <button class="btn btn-lg custom-button">Tickets</button>
                            </a>
                        </td>
                        <div class="col-12 col-md-2">
                            <td class="align-self-center border-bottom-0">
                                <div class="btn-toolbar">
                                    <a href="shows/<%= show._id %>/edit" class="me-3 my-1">
                                        <button class="btn btn-success admin-button">Edit</button>
                                    </a>
                                    <form action="/shows/<%= show._id %>?_method=DELETE" method="POST" class="my-1">
                                        <button class="btn btn-danger admin-button">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </div>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>