<% layout("layouts/boilerplate") %>
<div class="container">
    <h1>Upcoming Shows</h1>
    <a href="shows/new">
        <button class="btn btn-primary mt-2">New</button>
    </a>
    <table class="table table-sm align-middle mt-4">
        <thead class="table-dark">
            <tr>
                <th class="col-1" scope="col">Date</th>
                <th class="col-6" scope="col">Venue</th>
                <th class="col-1" scope="col">Location</th>
                <th class="col-2" scope="col">Tickets</th>
                <th class="col-2" scope="col">Admin Functions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let show of shows) { %>
            <tr>
                <td>
                    <%= show.date.toString().slice(4, 15) %>
                </td>
                <td>
                    <b>
                        <%= show.venue %>
                    </b>
                </td>
                <td>
                    <%= show.location %>
                </td>
                <td>
                    <a href="<%= show.ticketstore %>">
                        <button class="btn btn-primary btn-lg">Tickets</button>
                    </a>
                </td>
                <td>
                    <div class="row">
                        <a class="col-auto" href="shows/<%= show._id %>/edit">
                            <button class="btn btn-success">Edit</button>

                        </a>
                        <form class="col" action="/shows/<%= show._id %>?_method=DELETE" method="POST" novalidate
                            class="validated-form">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>