<% layout("layouts/boilerplate") %>
<div class="d-flex justify-content-center background-banner">
    <h1 class="align-self-center backbanner-text">UPCOMING SHOWS</h1>
</div>
<div class="container mt-5">
    <% if(isLoggedIn) { %>
    <div class="row text-center mb-4">
        <a href="shows/new">
            <button class="btn btn-primary btn-lg mt-2">New Show</button>
        </a>
    </div>
    <% } %>
    <div class="row mb-5">
        <table class="table">
            <tbody>
                <% for (let show of shows) { %>
                <% if(!isLoggedIn) { %>
                <tr class="d-flex gig-entry">
                    <td class="col-2 text-white fs-5 d-flex align-self-center border-bottom-0">
                        <%= show.date.toString().slice(4, 15) %>
                    </td>
                    <td class="col-6 text-white fs-5 d-flex align-self-center border-bottom-0">
                        <b>
                            <%= show.venue %>
                        </b>
                    </td>
                    <td class="col-2 text-white fs-5 align-self-center border-bottom-0">
                        <%= show.location %>
                    </td>
                    <td class="col-2 border-bottom-0">
                        <a href="<%= show.ticketstore %>">
                            <button class="btn btn-lg ticket-button">Tickets</button>
                        </a>
                    </td>
                    <% } %>
                    <% if(isLoggedIn) { %>
                </tr>
                <tr class="d-flex gig-entry">
                    <td class="col-2 text-white fs-5 d-flex align-self-center border-bottom-0">
                        <%= show.date.toString().slice(4, 15) %>
                    </td>
                    <td class="col-4 text-white fs-5 d-flex align-self-center border-bottom-0">
                        <b>
                            <%= show.venue %>
                        </b>
                    </td>
                    <td class="col-2 text-white fs-5 align-self-center border-bottom-0">
                        <%= show.location %>
                    </td>
                    <td class="col-2 border-bottom-0">
                        <a href="<%= show.ticketstore %>">
                            <button class="btn btn-lg ticket-button">Tickets</button>
                        </a>
                    </td>
                    <td class="col-1 align-self-center border-bottom-0">
                        <a href="shows/<%= show._id %>/edit">
                            <button class="btn btn-success">Edit</button>
                        </a>
                    </td>
                    <td class="col-1 align-self-center border-bottom-0">
                        <form action="/shows/<%= show._id %>?_method=DELETE" method="POST" novalidate
                            class="validated-form">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>